/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: hsl(0, 88%, 30%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Biography', sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #FFE8D2;
    overflow: hidden; /* Prevent scrolling outside the gallery */
}

/* Gallery Styling */
.gallery {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;  /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;
    justify-content: flex-start; /* Align items at the top */
}


.cards {
    display: flex;
    flex-direction: column;  /* Stack list items vertically */
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
}


.cards li {
    flex: 0 0 auto;
    width: 300px; /* Set width for postcards */
    height: 400px; /* Set height for postcards */
    margin: 0 20px; /* Space between cards */
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transform: scale(0); /* Corrected from scale(180) */
    opacity: 0;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
} 

.cards img {
    width: 100%;
    height: 100%;
    object-fit: absolut;
}  

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Ensures the link inherits the color of its parent */
}

a:hover {
    text-decoration: none; /* Optional: Add underline on hover for emphasis */
}